$cPlum: #343242;
$cGrape: #5822AC;
$cRaisin: #4f4255;
$cLightGray: #ccc;
$cLightGrape: lighten($cGrape, 15);
$cLavendar: #CBAAF5;

$space1: 10px;
$space2: 20px;

$content-width: 550px;
$break-medium: 650px;
$break-small: 500px;