$cBody: #111;
$cPlum: #343242;
$cGrape: #5822AC;
$cRaisin: #4f4255;
$cLightGray: #ccc;
$cLightGrey: #F1F1F1;
$cLightGrape: lighten($cGrape, 15);
$cLavendar: #CBAAF5;

$space1: 10px;
$space2: 20px;

$content-width: 570px;
$break-large: 1024px;
$break-medium-large: 850px;
$break-medium: 770px;
$break-medium-small: 650px;
$break-small: 550px;