<div class="illustration oracle-card">
  <%= link_to link_uri, title: illustration.name, rel:"nofollow"  do %>
    <%= image_tag illustration.image_normal_uri, alt: illustration.name, class:"card" %>
  <% end %>
</div>