<%= form_tag admin_update_illustrations_path(@illustration.id, { name: params[:name] }.compact), method: "post", class:"illustration-group" do %>
  <div class="illustration-group--header">
    <p>Assign a grouping code (ex: "a, b, c, ...") or illustration UUID to each unique illustration:</p>
  </div>
  <div class="illustration-group--items">
    <% @printings.each_with_index do |p, index| %>
      <div class="illustration-group--item">
        <img src="<%= p.image_uri(:small) %>" class="card">
        <%= text_field "printing_illustrations[variants]", p.id if index > 0 %>
      </div>
    <% end %>
  </div>
  <%= button_tag "Update Illustrations" %>
<% end %>