<h1>Tagging Guide</h1>

<h2>1. Tag the illustration, not the card</h2>

<p>This database is focused on cataloging the contents of <em>Magic: The Gathering</em> illustrations. We only care about what is depicted in a card illustration, regardless of the rules and function of the card itself. Tags should only describe visual elements present in the card artwork.</p>

<h2>2. Tags are English nouns</h2>

<p>A noun is a person, place, or thing. Whenever possible, tags should be written as a single descriptive English noun. Avoid verbs and adjectives by expressing their concept in noun form – for example, "fighting" can be expressed as "fight" or "battle". Sometimes a noun may require an adjective to capture its full meaning, such as "stained glass". Composite nouns like "coat of arms" may also be appropriate in some cases.</p>

<h2>3. Tags are singular and lowercase</h2>

<p>For consistency, nouns should be singular. If there are three horses in an illustration, tag it as "horse". The exception here would be intrinsic groupings, such as "wings", or "glasses". Tags should also be lowercased except when describing a proper noun such as "Karn", or "Weatherlight".</p>

<h2>4. Obscenity is not tolerated</h2>

<p>We take derogatory, obscene, and hateful references very seriously. These sorts of tags will not be approved. If you see any tags of an inappropraite nature, please dispute them immediately and they will be hidden.</p>

<h2>5. Use your judgment</h2>

<p>The Menagerie will offer normalized language as you submit tags. However, use your best judgment on what makes the most sense to describe an illustration. Have fun, and happy tagging!</p>