<h1>Tagging Guide</h1>

<h2>1. Tag the illustration, not the card</h2>

<p>This database is strictly focused on cataloging the contents of Magic: The Gathering illustrations. As such, we care about what is depicted in the illustration, and NOT what is written on the card. Tags should only describe visual elements (that in some cases, have nothing to do with the card!).</p>

<h2>2. Tags are English nouns</h2>

<p>A noun is a person, place, or thing. Tags should be a single descriptive English noun whenever possible. Avoid verbs and adjectives by expressing their concepts in noun form – for example, "fighting" could be expressed as "fight" or "battle". Sometimes a noun requires an accompanying adjective to capture its meaning, such as "stained glass", and that's okay. Also, sometimes a composite noun like "coat of arms" makes sense as well.</p>

<h2>3. Tags are singular and lowercase</h2>

<p>For consistence, nouns should be singular. If there are three horses in an illustration, tag it as "horse". The exception would be intrinsic groupings, such as "wings", "feathers", or "glasses". Tags should always be lowercased, except when describing a proper noun such as "Karn", or "Weatherlight".</p>

<h2>4. Obscentiy is not tollerated</h2>

<p>We take derogitory or obscene references very seriously. These sorts of tags will not be approved. If you see any tags of an offensive or obscene nature, please dispute them immedaitely.</p>

<h2>5. Use your judgement</h2>

<p>The Menagerie will offer normalized language as you submit tags. However, use your best judgement on what makes the most sense to describe an illustration</p>