<div class="prose">
  <h1>Tagging Guide</h1>
  <p>Scryfall Tagger is building a database of crowdsourced card attributions. Your submitted tags generate an intersting new taxonomy for exploring <em>Magic: The Gathering</em> cards and artwork.</p>

  <p><b>Tags are ONLY explorable through the Tagger at present.</b> As our database grows, we'll explore options for hooking this data into Scryfall search. Have fun, and happy tagging!</p>
</div>

<div class="prose">
  <h1 class="icon-header">
    <%= inline_svg "icons/tag" %> General Rules
  </h1>

  <h2>1.1. Tags are English</h2>
  <p>All tags use English vocabulary unless expressing a language-specific concept.</p>

  <h2>1.2. Obscenity is not tolerated</h2>
  <p>Derogatory, obscene, and/or hateful tags will not be approved. Please dispute any inappropraite tags and they will be hidden immediately.</p>

  <h2>1.3. Use your judgment</h2>
  <p>We'll offer you algorithmically normalized language as you submit tags. However, use your best judgment on what language makes the most sense.</p>
</div>

<div class="prose">
  <h1 class="icon-header" id="illustration-tags">
    <%= inline_svg "icons/illustration" %> Tagging Illustrations
  </h1>

  <h2>2.1. Tag the <b>illustration</b>, not the card</h2>
  <p>Illustration tags describe visual elements depicted in the <em>artwork</em> of a card, regardless of the card's function or printed frame. Illustration tags apply to all printings with the same artwork.</p>

  <h2>2.2. Tags are nouns</h2>
  <p>A noun is a person, place, or thing. Tags should be written as a single descriptive noun whenever possible, avoiding verbs and other parts of speech. Sometimes a noun may require a supporting adjective to capture its full meaning, such as "stained glass".</p>

  <h2>2.3. Tags are singular and lowercase</h2>
  <p>For consistency, if there are three horses in an illustration then tag it as "horse". Intrinsically plural groupings such as "wings" or "glasses" are okay. Tags should always be lowercase except when describing a proper noun such as "Karn", or "Weatherlight".</p>
</div>

<div class="prose">
  <h1 class="icon-header" id="oracle-tags">
    <%= inline_svg "icons/oracle" %> Tagging Oracle Cards
  </h1>

  <h2>3.1. Tag the <b>card</b>, not the appearance</h2>
  <p>Oracle tags describe the <em>function</em> of a card, per its oracle text. Oracle tags apply to all printings of a card, regardless of printed frame or artwork.</p>

  <h2>3.2. Identify non-searchable classifications</h2>
  <p>Oracle tags denote common functional characteristics that apply to a wide range of cards, though cannot (easily) be searched via card texts. Do NOT tag goblins as "goblin" (that's searchable). DO tag variations of direct damage spells as "burn".</p>
</div>