<div class="homepage">
  <h1>A <b>crowdsourced tag catalog</b> for <br> Magic: The Gathering illustrations &amp; cards</h1>

  <div class="illustration-tags">
    <% @illustration_tags.each do |tag| %>
      <%= render "shared/content_tag", tag: tag %>
    <% end %>
  </div>

  <%= render "shared/search_form" %>
</div>