<div class="homepage">
  <h1><%= inline_svg "icons/wolf" %> The Menagerie</h1>
  <p class="homepage--desc">A <b>crowdsourced tag catalog</b> for <br> Magic: The Gathering illustrations</p>

  <div class="illustration-tags">
    <% @illustration_tags.each do |tag| %>
      <%= render "shared/illustration_tag", tag: tag %>
    <% end %>
  </div>
</div>