@import "../config/vars";

.admin {
  background-color: #1E2126;
  color: $cLightGray;

  a {
    color: $cLavendar;
  }
}

.tag-admin-row {
  align-items: flex-start;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  margin: 40px 0;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: 500px) {
    flex-flow: row nowrap;
  }

  .illustration {
    border-bottom: none;
    width: 100%;

    .card {
      width: 100%;
    }

    h1 {
      font-size: 1em;
      margin: 0 0 5px;
      position: absolute;
      bottom: 100%;
    }

    @media (min-width: 500px) {
      width: 50%;
    }

    @media (min-width: 800px) {
      max-width: 400px;
      width: 33%;

      &.oracle-card {
        max-width: 200px;
        width: 25%;
      }
    }
  }

  .tag-confirmation {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    @media (min-width: 500px) {
      align-items: flex-start;
      padding-left: $space2;
      width: 50%;
    }

    @media (min-width: 800px) {
      flex-grow: 1;
      width: 0;
    }
  }

  .illustration-tag {
    margin: 0 0 20px;
  }
}

.tag-confirm-form {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: $space1;

  > * {
    margin-right: $space1;
  }

  .tag-input-field {
    width: 150px;
  }

  select.tag-input-field {
    width: 110px;
  }

  .button-primary {
    padding: 0.25em 1em;
  }

  &.disputed .tag-input-field {
    background-color: mix(white, #c00, 70%);
    border-color: mix(white, #c00, 50%);
  }

  &--dispute {
    align-items: center;
    display: flex;
    margin-left: $space2;

    svg {
      fill: white;
      height: 1.5em;
      margin-right: $space1;
      width: 1.5em;
    }
  }
}

.button-primary.admin-reload {
  margin: 0 auto;
  text-align: center;
  width: 150px;
}

.admin-session {
  max-width: 300px;
}

.session-screen {
  position: relative;

  &:before {
    background: url("/evolving_wilds_rocha.jpg") no-repeat center center;
    background-size: cover;
    content: '';
    display: block;
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .site-body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}