@import "../config/vars";

.admin {
  background-color: #111;
  color: $cLightGray;
}

.tag-admin-row {
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 20px 0;

  @media (min-width: 500px) {
    flex-flow: row nowrap;
  }

  &.disputed {
    background-color: rgba(255, 0, 0, 0.1);
  }

  .illustration {
    width: 100%;

    @media (min-width: 500px) {
      width: 50%;
    }

    @media (min-width: 800px) {
      width: 33%;
      max-width: 400px;
    }
  }

  &--dispute {
    margin-bottom: 10px;

    svg {
      height: 1.5em;
      width: 1.5em;
    }
  }
}