@import "../config/vars";

body {
  margin: 0;
  font: 300 16px/1.4 "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: $cGrape;
}

.artwork {
  border-bottom: 1px solid #ccc;
  height: 520px;
  overflow: hidden;
}

.hidden {
  display: none;
}