@import "../config/vars";

body {
  margin: 0;
  font: 300 16px/1.4 "Helvetica Neue", "HelveticaNeueWF", Helvetica, Arial, sans-serif;
}

a {
  color: lighten($cGrape, 20);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  svg {
    height: 1em;
    width: 1em;
  }
}

.vh {
  display: block;
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.hidden {
  display: none;
}

img.card {
  border-radius: 4.75% / 3.5%;
  display: block;
  overflow: hidden;
}