@import "../config/vars";

body {
  color: #111;
  margin: 0;
  font: normal 16px/1.4 "Helvetica Neue", "HelveticaNeueWF", Helvetica, Arial, sans-serif;
}

a {
  color: $cGrape;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2 {
  font-weight: 200;
}

.vh {
  display: block;
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.hidden {
  display: none;
}

.icon-header {
  align-items: center;
  display: flex;

  svg {
    margin-right: 0.3em;
    max-height: 1em;
    width: 1em;
  }
}

.pagination {
  margin: $space2 0;
  text-align: center;
}

.prose {
  font-size: 15px;
  margin: 0 auto;
  max-width: 45em;

  h2 {
    font-size: 18px;
    font-weight: normal;
  }

  p {
    margin: 10px 0 25px;
  }

  + .prose {
    border-top: 1px solid #ccc;
  }
}

.status-message {
  color: lighten($cRaisin, 20);
  font-weight: bold;
  text-align: center;
}