@import "../config/vars";

input, button {
  font: 16px "Helvetica Neue", Helvetica, sans-serif;
}

.button-primary,
.admin .button-primary {
  background-color: $cRaisin;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  font: bold 16px/1.4 "Helvetica Neue", Helvetica, sans-serif;
  height: 50px;
  line-height: 50px;
  padding: 0 1.5em;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($cRaisin, 5);
  }

  &:disabled {
    background-color: #ccc;
  }

  svg {
    fill: white;
    height: 15px;
    width: 15px;
  }

  &.approve {
    background-color: #2ac143;
  }

  &.reject {
    background-color: #c1452a;
  }
}

.tag-form-row {
  margin: 10px 0;
}

.tag-input-field {
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font: 22px "Helvetica Neue", Helvetica, sans-serif;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  width: 100%;

  &.select {
    padding: 0;
  }
}

select.tag-input-field {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: white url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23black%22%20d%3D%22M27%209.375l-12%2012.625-12-12.562%201.406-1.438%2010.594%2011.094%2010.563-11.094z%22/%3E%3C/svg%3E%0A') no-repeat calc(100% - 5px) 50%;
  background-size: auto 40%;
  box-sizing: border-box;
  font: 20px "Helvetica Neue", Helvetica, sans-serif;
  padding: 0 28px 0 10px;
}

textarea.tag-input-field {
  height: 75px;
  line-height: 1.2;
  padding: 10px;
}