@import "../config/vars";

input, button {
  font: 16px "Helvetica Neue", Helvetica, sans-serif;
}

.button-primary,
.admin .button-primary {
  background-color: $cRaisin;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  font: bold 16px/1.4 "Helvetica Neue", Helvetica, sans-serif;
  height: 50px;
  padding: 0 1.5em;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($cRaisin, 5);
  }

  &:disabled {
    background-color: #ccc;
  }

  svg {
    fill: white;
    height: 15px;
    width: 15px;
  }

  &.approve {
    background-color: #2ac143;
  }

  &.reject {
    background-color: #c1452a;
  }
}

.tag-form-row {
  margin: 10px 0;
}

.tag-input-field {
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font: 22px "Helvetica Neue", Helvetica, sans-serif;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  width: 100%;

  &.select {
    padding: 0;
  }

  select {
    background: none;
    border: none;
    box-sizing: border-box;
    display: block;
    font: 20px "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
    padding: 0 20px;
    width: 100%;
  }
}

textarea.tag-input-field {
  height: 75px;
  line-height: 1.2;
  padding: 10px;
}