@import "../config/vars";

.homepage-screen .site-body {
  align-items: center;
  display: flex;
}

.homepage {
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 1.5em;
    font-weight: 300;
  }

  .illustration-tags {
    margin: 0 auto 60px;
    max-width: 575px;
  }

  .js-tag-status {
    display: none !important;
  }
}