@import "../config/vars";

.illustration-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

.illustration-tag {
  border: 1px solid white;
  border-radius: 3px;
  display: block;
  font-weight: bold;
  overflow: hidden;
  margin: 0 3px;
  padding-right: 0;
  transition: background-color 0.25s, padding-right 0.3s;

  &.allows-dispute:hover {
    padding-right: 25px;
  }

  &.approved {
    background-color: $cGrape;
    border-color: $cGrape;
    &:hover { background-color: $cGrape; }
    a { color: white; }
  }

  &.pending {
    background-color: #efefef;
    border-color: darken(#efefef, 10);
    &:hover { background-color: lighten(#efefef, 5); }
    a { color: #333; }
  }

  &.disputed {
    background-color: #e5c5c5;
    border-color: darken(#e5c5c5, 10);
    &:hover { background-color: lighten(#e5c5c5, 5); }
    a { color: darken(#e5c5c5, 50); }
  }

  &--inner {
    display: block;
    position: relative;
  }

  a {
    display: block;
    padding: 0.3em 0.6em;
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 15px;
    left: 100%;
    padding: 0;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 15px;

    svg {
      height: 100%;
      padding: 0;
      width: 100%;
      fill: #333;
    }

    &:hover svg {
      fill: darken(#e5c5c5, 40);
    }
  }
}