@import "../config/vars";

img.card {
  border-radius: 4.75% / 3.5%;
  display: block;
  overflow: hidden;
}

.illustration {
  border-bottom: 1px solid #ccc;

  .card {
    width: 100%;
  }

  &--credit span {
    display: block;
    margin: 0;
  }

  .frame {
    display: block;
  }

  .frame2015 {
    height: 0;
    padding-bottom: 72.8%;
    position: relative;
    overflow: hidden;
    width: 100%;

    img {
      left: -9%;
      position: absolute;
      top: -25.5%;
      width: 118%;
    }
  }
}