@import "../config/vars";

.illustration-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 1em 0;
  padding: 0;

  &--status {
    color: lighten($cRaisin, 20);
  }
}

.illustration-tag {
  border: 1px solid white;
  border-radius: 3px;
  display: block;
  font-weight: bold;
  margin: 3px;
  position: relative;

  &.allows-dispute .illustration-tag--dispute {
    display: block;
    overflow: hidden;
    padding-right: 0;
    position: relative;
    transition: background-color 0.25s, padding-right 0.3s;
    &:hover {
      padding-right: 25px;
    }

    @media (max-width: $break-medium) {
      padding-right: 25px;
    }
  }

  &.approved {
    background-color: mix(white, $cGrape, 85%);
    border-color: mix(white, $cGrape, 65%);
    &:hover { background-color: mix(white, $cGrape, 92%); }
    a { color: $cGrape; }
  }

  &.pending {
    background-color: #efefef;
    border-color: darken(#efefef, 10);
    &:hover { background-color: lighten(#efefef, 5); }
    a { color: #333; }
  }

  &.disputed {
    background-color: #e5c5c5;
    border-color: darken(#e5c5c5, 10);
    &:hover { background-color: lighten(#e5c5c5, 5); }
    a { color: darken(#e5c5c5, 50); }
  }

  &.rejected {
    background-color: #660505;
    border-color: darken(#660505, 5);
    &:hover { background-color: lighten(#660505, 5); }
    a { color: white; }
  }

  &--inner {
    display: block;
    position: relative;
  }

  a {
    display: block;
    padding: 0.3em 0.6em;
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 15px;
    left: 100%;
    padding: 0;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 15px;

    svg {
      height: 100%;
      padding: 0;
      width: 100%;
      fill: #333;
    }

    &:hover svg {
      fill: darken(#e5c5c5, 40);
    }
  }

  .js-tag-status {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    color: white;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    padding: 1px 7px;
    position: absolute;
    top: -35px;
    transform: translateX(-50%);

    &:after {
      border: 5px solid transparent;
      border-bottom: none;
      border-top-color: rgba(0, 0, 0, 0.8);
      bottom: -5px;
      content: '';
      display: block;
      left: calc(50% - 5px);
      height: 0;
      position: absolute;
      width: 0;
    }
  }
}