@import "../config/vars";

.illustration-detail {
  margin: 0 auto;
  max-width: $content-width;

  h1 {
    text-align: center;
  }

  .illustration {
    h1 {
      display: none;
    }

    &--credit {
      display: flex;
      justify-content: space-between;

      span {
        padding: 15px 0;
      }
    }
  }

  .oracle-card {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;

    .card {
      height: 488px;
      margin: 0 auto;
      width: 350px;
    }
  }

  .taggable-modes {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 35px;
  }

  .taggable-mode-tab {
    background: white;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    line-height: 35px;
    margin: 0 10px;
    text-align: center;
    top: 0;
    width: 50%;

    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
    }

    &.inactive {
      background: #efefef;
      color: #777;
    }

    &.active {
      height: calc(100% + 1px);
      position: relative;
      z-index: 100;
    }
  }
}

.tag-submit-form {
  margin: 40px auto;
  max-width: 302px;
  text-align: center;

  .icon-header {
    justify-content: center;
  }

  .accept-tos {
    margin: 20px 0;
  }

  .button-primary {
    margin: 0 auto;
  }
}

.tag-confirmation-form {
  margin: 0 auto;
  max-width: 820px;
  opacity: 0;
  text-align: center;
  transition: opacity 0.75s;

  table {
    width: 100%;
  }

  th, td {
    border-bottom: 1px solid #ccc;
    text-align: left;
    width: 25%;
  }

  th {
    font-size: 0.85em;
    font-weight: bold;
  }

  td {
    padding: 5px 0;
  }

  .button-primary {
    margin: 0 auto;
  }

  &--prompt {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 10px;
  }

  .disabled {
    color: #bbb;
    font-style: italic;
  }
}

.tag-dispute-form {
  .illustration-tag {
    display: inline-block;
  }

  &--reason {
    display: block;
    margin-top: 0;

    textarea {
      margin-top: 6px;
    }
  }
}

.tag-form-error {
  color: #c00;
  font-size: 0.85em;
  font-weight: bold;
  margin: 15px 0;
}

.g-recaptcha {
  margin-bottom: -2px;
}