@import "../config/vars";

img.card {
  border-radius: 4.75% / 3.5%;
  display: block;
  overflow: hidden;
}

.illustration {
  .card {
    width: 100%;
  }

  &--credit span {
    display: block;
    margin: 0;
  }

  .frame {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .frame-2015,
  .frame-2003 {
    height: 0;
    padding-bottom: 72.8%;

    img {
      left: -9%;
      position: absolute;
      top: -25.5%;
      width: 118%;
    }
  }

  .frame-1997,
  .frame-1993 {
    height: 0;
    padding-bottom: 80.3%;

    img {
      left: -14.25%;
      position: absolute;
      top: -22%;
      width: 129%;
    }
  }

  .layout-split {
    padding-bottom: 70%;

    img {
      left: 21%;
      top: -87%;
      transform: rotate(90deg);
      width: 175%;
    }
  }

  .layout-split.face-2 {
    img {
      left: -96%;
    }
  }

  .layout-split.frame-1997 {
    padding-bottom: 67.2%;

    img {
      left: 18%;
      top: -94%;
      transform: rotate(90deg);
      width: 195%;
    }
  }

  .layout-split.face-2.frame-1997 {
    img {
      left: -113%;
    }
  }
}