.search-form {
  margin: 0 auto;
  max-width: 350px;
  width: 100%;

  .tag-form-row {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }

  .autocomplete-wrapper {
    flex-grow: 1;
    width: 0;
  }

  label {
    display: block;
    width: 50px;
  }

  button[type="submit"] {
    margin-left: 50px;
  }
}

.search-results-grid {
  display: flex;
  flex-flow: row wrap;

  &--item {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    width: 50%;

    @media (min-width: 600px) {
      width: 33.3%;
    }

    @media (min-width: 980px) {
      width: 25%;
    }

    .illustration {
      width: 100%;

      h1 {
        font-size: 14px;
      }
    }

    .illustration--credit {
      flex-flow: column nowrap;

      span {
        padding: 0;
      }
    }
  }
}