@import "../config/vars";

.site-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}

.site-header {
  background-color: $cRaisin;
  border-bottom: 2px solid mix(white, $cRaisin, 50%);
  justify-content: space-between;
  height: 58px;
  line-height: 58px;

  .site-wrapper {
    display: flex;
    width: 100%;
  }

  a {
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    margin-left: $space2;
    text-decoration: none;

    svg {
      fill: rgba(255, 255, 255, 0.8);
      height: 18px;
      margin-right: 7px;
      width: 18px;
    }

    &:first-child {
      margin: 0;
    }

    &:hover {
      color: white;

      span, b {
        text-decoration: underline;
      }

      svg {
        fill: white;
      }
    }
  }

  a.logo {
    font-size: 20px;
    font-weight: 200;

    svg {
      height: 30px;
      margin-right: 10px;
      width: 30px;
    }
  }

  .spacer {
    display: block;
    flex-grow: 1;
    height: 100%;
    width: 0;
  }

  @media (max-width: $break-small) {
    .collapse {
      display: none;
    }
  }

  &--sub {
    background-color: mix(white, $cRaisin, 70%);
    border: none;
    height: 35px;
    line-height: 35px;

    a {
      color: $cRaisin;

      svg {
        fill: $cRaisin;
      }
    }
  }
}

.site-notice {
  background-color: #ffd951;
  padding: 15px $space2;
  text-align: center;
  font-weight: bold;
}

.site-body {
  margin-top: 30px;
  margin-bottom: 60px;
  min-height: 70vh;
}

.site-footer {
  background-color: #19181f;
  border-top: 2px solid lighten(#19181f, 8);
  color: #555;
  font-size: 0.8em;
  padding: $space2 0;

  a {
    color: #888;
  }

  @media (min-width: $break-medium) {
    p {
      padding-right: 25%;
    }
  }
}

.pagination {
  margin: $space2 0;
  text-align: center;
}

.prose {
  font-size: 15px;
  margin: 0 auto;
  max-width: 45em;

  h2 {
    font-size: 18px;
    font-weight: normal;
  }

  p {
    margin: 10px 0 25px;
  }

  + .prose {
    border-top: 1px solid #ccc;
  }
}

.status-message {
  color: lighten($cRaisin, 20);
  font-weight: bold;
  text-align: center;
}