@import "../config/vars";

.site-header {
  background-color: $cGrape;
  border-bottom: 3px solid mix(white, $cGrape, 50%);
  display: flex;
  justify-content: space-between;
  padding: 15px $space2;

  a {
    display: inline-block;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  svg {
    fill: white;
    height: $space2;
    width: $space2;
  }
}

.site-notice {
  background-color: #ffd951;
  padding: 15px $space2;
  text-align: center;
  font-weight: bold;
}

.site-body {
  margin: 30px auto 60px;
  padding: 0 $space2;
  max-width: 1024px;
  min-height: 70vh;
}

.site-footer {
  background-color: #222;
  border-top: 3px solid $cLightGray;
  color: #ccc;
  font-size: 0.9em;
  padding: $space2;

  @media (min-width: $break-medium) {
    padding-right: 25%;
  }
}