@import "../config/vars";

.site-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}

.site-header {
  background-color: $cRaisin;
  border-bottom: 2px solid mix(white, $cRaisin, 50%);
  display: flex;
  justify-content: space-between;
  height: 58px;
  line-height: 58px;
  padding: 0 $space2;

  .site-wrapper {
    display: flex;
    width: 100%;
  }

  a {
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    margin-left: $space2;
    text-decoration: none;

    &:first-child {
      margin: 0;
    }

    &:hover {
      color: white;

      span, b {
        text-decoration: underline;
      }
    }
  }

  .spacer {
    display: block;
    flex-grow: 1;
    height: 100%;
    width: 0;
  }

  svg {
    fill: white;
    height: 18px;
    margin-right: 7px;
    width: 18px;
  }
}

.site-notice {
  background-color: #ffd951;
  padding: 15px $space2;
  text-align: center;
  font-weight: bold;
}

.site-body {
  margin: 30px auto 60px;
  padding: 0 $space2;
  max-width: 1024px;
  min-height: 70vh;
}

.site-footer {
  background-color: #222;
  border-top: 2px solid $cLightGray;
  color: #777;
  font-size: 0.8em;
  padding: $space2 0;

  a {
    color: #888;
  }

  @media (min-width: $break-medium) {
    p {
      padding-right: 25%;
    }
  }
}

.pagination {
  margin: $space2 0;
  text-align: center;
}